doctype html

//-mixins are custom functions/templates 
include ./all_includes

//if lt IE 7
    html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
    html.no-js.lt-ie9.lt-ie8  
//if IE 8
    html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
    // <![endif]
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        meta(name='description', content='')

        //- set base url to /public/YOUR_URL
        base(href='//#{global.BASE_URL}/public/')

        link(rel='stylesheet', href='/assets/bootstrap.min.css', media='screen')
        link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900', rel='stylesheet', type='text/css')
        //-    link(rel='shortcut icon', sizes='196x196', href='images/webicon.png')
            link(rel='shortcut icon', sizes='128x128', href='images/webicon.png')
            link(rel='apple-touch-icon', sizes='128x128', href='images/webicon.png')
            link(rel='apple-touch-icon-precomposed', sizes='128x128', href='images/webicon.png')
            link(rel='shortcut icon', type='image/x-icon', href='images/favicon.ico')
        script(src='http://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='http://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js')
            script(src='http://cdn.jsdelivr.net/respond/1.4.2/respond.min.js')
        
        title=title
        
        script(src="/assets/jquery-1.11.3.js") 
        script(src="/assets/bootstrap-multiselect-master/dist/js/bootstrap-multiselect.js")
        
        script(src='/assets/bootstrap.3.3.5.min.js')
        
        script(src="/assets/jquery-popup-overlay-gh-pages/jquery.popupoverlay.js")
        //script(src="/assets/socket.io.js")
        script(src="//cdn.socket.io/socket.io-1.3.5.js")
        
        //- !!!!!!! MY_SCRIPTS !!!!!!!!!!!!! 
        each scriptFile in global.LAYOUT.INCLUDES.SCRIPTS
            script(src="#{scriptFile}?ver=1.0.0")
        //- !!!!!!! MY_STYLES !!!!!!!!!!!!!! 
        each styleFile in global.LAYOUT.INCLUDES.STYLESHEETS
            link(rel="stylesheet" href="#{styleFile}?ver=1.0.0")
            
    body(ontouchstart='')
        header
            .container-fluid
                .row
                    .col-xs-12
                        a(href='/')
                            img(src='images/logo.png')
        
        .content
            //-page info created dynamically
            block content
        
        footer
            .container
                .col-xs-3.nopadding
                    a(href='/dashboard/') 
                        p
                            i.icon-icon-home
                        p dashboard
                .col-xs-3.nopadding
                    a(href='/pi/')
                        p
                            i.icon-icon-graph
                        p RPi
                .col-xs-3.nopadding
                    a(href='/')
                        p
                            i.icon-icon-arrow-down
                        p ????
                .col-xs-3.nopadding
                    a(href='/settings/')
                        p
                            i.icon-icon-settings
                        p Settings
    foot
        
