extends ../includes/layout

block content
    .container-fluid.table-title(style="background: #FFF;")
        #pi-controls(data-activate-pi-controls="true")
        p Currently listening to your constrols
            | check out da console
        button#get-keys-pressed-btn.btn.btn-default Get Keys Pressed
        

